<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
        <a></a>
    </header>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form method="post" onsubmit="signInWithEmailAndPassword(event)">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    
                </div>
                <button type="submit">Cadastro</button>
            </form>

        </div>
    </main>
</body>
</body>
</html>