<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="../css/recuperar.css">
</head>
<body>
    <main>
        <div class="recuperar-container">
            <h2>Recuperar Senha</h2>
            <div>
                <h4>Digite seu e-mail no campo abaixo para lhe enviarmos as instrucões de redefinição de senha</h4>
            </div>
            <form method="post" onsubmit="">
                <div class="form-group">
                    <label for="recover-password">Email</label>
                    <input type="password" name="recover password" id="recover-password">
                </div>
                <div>
                    <div>
                        <h3>Já tem uma conta? </h3><a href="####"><h3>Fazer login</h3></a>
                    </div>
                </div>
                <button type="submit">Recuperar</button>
            </form>
        </div>
    </main>
</body>
</html>